.toDo__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.toDo__heading__title {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: rgba(0, 255, 196, 0.7);
  font-size: 1.5rem;
}
@media only screen and (min-width: 500px) {
  .toDo__heading__title {
    font-size: 2rem;
  }
}
